<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to OdinBook !! <%= @user.name %>, we are glad to have you with us.</h1>
    <p>
      You have successfully signed up and created an account,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="<%= @url %>">Home</a>.
    </p>
    <p>Thanks for joining, we hope you have fun with us!</p>
</body>
</html>
