<main>
    <h1>OdinBook, the ultimate social network</h1>
    <p>An experiment to study and practice this web framework</p>

    <% if user_signed_in? %>
        <%=  %>
    <% else %>
        <%= link_to "Log in", new_user_session_path %>
        <%= link_to "Enter without Sign in", posts_path %>
    <% end %>

</main>
